.comp-outer {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.comp-main {
  padding: 10px;
}

.comp-title {
  font-weight: 600;
  padding-bottom: 5px;
}

.comp-groups, 
.comp-part {
  font-size: small;
}

.comp-groups:hover, 
.comp-part:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

