<header>
    <nav>
        <span routerLink="/">Trampoline Judge Support</span>
        <ul>
            @if(loginService.currentUserSignal() == null) {
                <li class="clickable" routerLink="/login">login</li>
            } @else if(loginService.currentUserSignal()) {
                <li>{{loginService.currentUserSignal()?.username}}</li>
                <li class="clickable" routerLink="/manage-competitions">manage competitions</li>
                <li class="clickable" (click)="logout()">logout</li>
            }
        </ul>
    </nav>
</header>
