<header>
    <nav>
        <span routerLink="/">Trampoline Judge Support</span>
        <ul>
            @if(loginService.currentUserSignal() == null) {
                <li class="clickable" routerLink="/login">login</li>
            } @else if(loginService.currentUserSignal()) {
                <li>{{loginService.currentUserSignal()?.username}}</li>
                @if(activeCompService.activeComp != null) {
                    <li class="clickable" routerLink="/execute-competition">{{activeCompService.activeComp.name}}</li>
                } @else {
                    @if(loginService.currentUserSignal()?.username == 'admin') {
                        <li class="clickable" routerLink="manage-judges">judges</li>
                    }
                }
                @if(loginService.currentUserSignal()?.username == 'admin') {
                    <li class="clickable" routerLink="/manage-competitions">manage competitions</li>
                }
                <li class="clickable" (click)="logout()">logout</li>
            }
        </ul>
    </nav>
</header>
