<div class="admin-active-group-outer">
    

    @if(activeCompService.activeGroup != null && activeCompService.activeParticipantID != -1) {
        <h1>{{activeCompService.activeGroup.title}}</h1>
        <h2>{{activePart?.firstName}} {{activePart?.lastName}}</h2>

        @if(activeCompService.activeParticipantID < activeCompService.activeGroup.participants.length - 1) {
            <button (click)="nextParticipant()">next</button>
        } @else {
            <button (click)="endGroup()">end group</button>
        }
    } @else {
        loading...
    }
    
</div>
