<div class="admin-active-group-outer">
    
    

    @if(group != null && activePart != undefined) {
        <h1>{{group.title}}</h1>
        <h2>{{activePart.firstName}} {{activePart.lastName}}</h2>

        <input type="number" placeholder="Strafwert" [(ngModel)]="penalty">
        @if(activeCompService.activeParticipantID() < group.participants.length - 1) {
            <button (click)="nextParticipant()">nächster Athlet</button>
        } @else {
            <button (click)="endGroup()">Gruppe beenden</button>
        }
    } @else {
        laden...
    }
    
</div>
