<div class="execute-comp-outer">
@if(activeCompService.activeComp() == null) {
    <h1>loading...</h1>
} @else {
    <h1>{{activeCompService.activeComp()?.name}}</h1>
    <div class="execute-comp-inner">
        <h4>Groups:</h4>
        <ul class="groups">
            
            @for(group of activeCompService.activeComp()?.groups; track $index) {
                <li>
                    <div class="group-title">
                        {{group.title}}
                        <div class="images">
                            <img src="./assets/edit.png" (click)="editGroup(group)">
                            <img src="./assets/start.webp" (click)="startGroup(group)">
                        </div>
                    </div>
                    @if(editedGroup?.title == group.title) {
                        <ul class="edit-group">
                            @for (part of editedGroup?.participants; track $index) {
                                <li>
                                    {{part.lastName}}, {{part.firstName}} {{getBirthYear(part)}}
                                    <img src="./assets/trash.png" (click)="removePart(part)"/>
                                </li>
                            }
                            <button (click)="saveGroup(group)">Save</button>
                        </ul>
                    }                    
                </li>
            }
        </ul>
        <button class="stop-comp" (click)="stopCompetition()">Stop Competition</button>
    </div>
}
</div>
