

<div class="outer">
    <h1 class="headline">Competitions</h1>
    <div  class="inner">
        @for (comp of competitions; track $index) {
            <div class="comp">
                <app-competition [competition]="comp" class="comp-inner"/>
                <div class="images">
                    <img src="./assets/edit.png" (click)="editComp(comp)" />
                    <img src="./assets/trash.png" (click)="deleteComp(comp)"/>
                </div>
            </div>
        }
    </div>
    <button class="big-button" (click)="createNewComp()">New Competition</button>
</div>
@if(createOrEdit()) {
    <div class="create-outer">
        <div class="name-date">
            <input type="text" placeholder="competition title" [(ngModel)]="newCompName"> 
            <input type="date" placeholder="date" [(ngModel)]="newDate">
        </div>  
        <app-upload (participantsOutput)="getParticipants($event)" class="app-upload" />
        <div class="create-groups">
            <h3>Configure Groups</h3>
            @if(newGroups.length > 0) {
                <ul class="group-list">
                    @for(group of newGroups; track $index) {
                        <li>
                            {{group.title}}
                            <div class="images">
                                <img src="./assets/trash.png" (click)="deleteGroup(group)"/>
                            </div>
                            
                        </li>
                    }
                </ul>
            }
            <div class="input-group">
                <input type="text" placeholder="new group name" [(ngModel)]="groupName" (keydown)="onEnter($event)">
                <button (click)="addGroup()">+</button>
            </div>
        </div>
        <div class="configure-groups" cdkDropListGroup>

        <!-- Unassigned Participants -->
            <div class="unassigned-parts">
                <h3>Unassigned Participants:</h3>
                <ul 
                cdkDropList 
                [cdkDropListData]="newUnassignedParticipants"
                (cdkDropListDropped)="drop($event)"
                class="drop-list"
                >
                    @for (part of newUnassignedParticipants; track $index) {
                        <li cdkDrag>
                            <div class="part">
                                
                                {{part.lastName}}, {{part.firstName}} {{getBirthYear(part)}} {{part.setRoutine}}
                            </div>
                            <div class="images">
                                <img src="./assets/trash.png" (click)="deleteParticipant(part)" />
                            </div>
                        </li>
                    }
                </ul>
            </div>

            <!-- Groups -->
            <div class="groups-parts">
                <h3>Groups:</h3>
                <ul class="assigned-part-list">
                    @for (group of newGroups; track $index) {
                        <h4>{{group.title}}</h4>
                        <li>
                            
                            <ul 
                                cdkDropList 
                                [cdkDropListData]="group.participants"
                                (cdkDropListDropped)="drop($event)"
                                class="drop-list"
                            >
                                @for (part of group.participants; track $index) {
                                    <li cdkDrag>
                                        <div class="part">
                                            {{part.lastName}}, {{part.firstName}} {{getBirthYear(part)}} {{part.setRoutine}}
                                        </div>
                                        <div class="images">
                                            <img src="./assets/trash.png" (click)="deleteParticipantFromGroup(part, group)" />
                                        </div>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <button class="big-button" (click)="saveComp()">Save</button>
    </div>
}
