<div class="outer">
    <h1 class="headline">Competitions</h1>
    <div  class="inner">
        @for (comp of competitions; track $index) {
            <div class="comp">
                <app-competition [competition]="comp" class="comp-inner"/>
                <div class="images">
                    <img src="./assets/edit.png" (click)="editComp(comp)" />
                    <img src="./assets/trash.png" (click)="deleteComp(comp)"/>
                </div>
            </div>
        }
    </div>
    <button class="big-button" (click)="createNewComp()">New Competition</button>
</div>
@if(createOrEdit()) {
    <div class="create-outer">
        <div class="name-date">
            <input type="text" placeholder="competition title" [(ngModel)]="newCompName">
            <input type="date" placeholder="date" [(ngModel)]="newDate">
        </div>  
        <app-upload (participantsOutput)="getParticipants($event)" class="app-upload" />
        <div class="create-groups">
            <h3>Configure Groups</h3>
            <ul class="group-list">
                @for(group of newGroups; track $index) {
                    <li>
                        {{group.title}}
                        <div class="images">
                            <img src="./assets/trash.png" (click)="deleteGroup(group)"/>
                        </div>
                        
                    </li>
                }
            </ul>
            <div class="input-group">
                <input type="text" placeholder="new group name" [(ngModel)]="groupName" (keydown)="onEnter($event)">
                <button (click)="addGroup()">+</button>
            </div>
        </div>
        <div class="configure-groups">
            <div class="unassigned-parts">
                <h3>unassigned Participants:</h3>
                <ul class="unassigned-part-list">
                    @for(part of newUnassignedParticipants; track $index) {
                        <li>

                                <div class="part">{{part.Nachname}}, {{part.Vorname}} {{part.Geburtsdatum.year.toString()}} {{part.Uebung}}</div>
                                <div class="images"><img src="./assets/trash.png" (click)="deleteParticipant(part)"/></div>

                        </li>
                    }
                </ul>
            </div>
            <div class="groups-parts">
                <h3>Groups:</h3>
                <ul class="assigned-part-list">
                    @for(group of newGroups; track $index) {
                        <li>
                            <h4>{{group.title}}</h4>
                            <div>
                                @for(part of group.participants; track $index) {
                                    
                                }
                            </div>
                            
                        </li>
                    }
                </ul>
            </div>
        </div>
        <button class="big-button" (click)="saveComp()">Save</button>
    </div>
}
