<div class="outer">
    <h1 class="headline">Competitions</h1>
    <div  class="inner">
        @for (comp of competitions; track $index) {
            <div class="comp">
                <app-competition [competition]="comp" class="comp-inner"/>
                <div class="images">
                    <img src="./assets/edit.png" (click)="editComp(comp)" />
                    <img src="./assets/trash.png" (click)="deleteComp(comp)"/>
                </div>
            </div>
        }
    </div>
    <button class="big-button" (click)="createNewComp()">New Competition</button>
</div>
@if(createOrEdit()) {
    <div class="create-outer">
        <div class="name-date">
            <input type="text" placeholder="competition title" [(ngModel)]="newCompName">
            <input type="date" placeholder="date" [(ngModel)]="newDate">
        </div>  
        <app-upload></app-upload>
        <div class="create-groups">
            Configure Groups
            <ul>
                @for(group of newGroups; track $index) {
                    <li>
                        {{group.title}}
                        <img src="./assets/trash.png" (click)="deleteGroup(group)"/>
                    </li>
                }
            </ul>
            <input type="text" placeholder="new group name" [(ngModel)]="groupName" (keydown)="onEnter($event)">
            <button (click)="addGroup()">+</button>
        </div>
        <button class="big-button" (click)="saveComp()">Save</button>
    </div>
}
