.drop-zone {
  border: 2px dashed rgb(122, 122, 122);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
}

.drop-zone.dragover {
  border-color: #3f51b5;
  background-color: #f0f8ff;
}

.drop-zone {
  border: 2px dashed rgb(122, 122, 122);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
}

.drop-zone.dragover {
  border-color: #3f51b5;
  background-color: #f0f8ff;
}

.button {
  display: flex;
  justify-content: center;
  button {
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 0.75rem;
    box-sizing: border-box;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: #0056b3;
  }
}